*{
    margin:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh; /* 100% do tamanho da pág*/
    background-color: black;
    color: white;
    display: grid;  /*para centralizar de forma fácil! */
    place-items: center;
}

section{
    background: rgba(148, 133, 216, 0.2); /*0.2 = 20% de branco*/
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

p{
    font-size: 200px;
}

button{

    border-radius: 5px;
    border: none;
    padding: 5px 10px ;
    font-size: large;
    color: rgb(4, 4, 37);
    background-color: rgb(96, 86, 138);

}

button:hover{
    cursor:pointer;
    color: rgb(255, 255, 255);
}
